$mobile-size: 690px;

*,
*:before,
*:after {
  box-sizing:border-box;
}

/*base*/

html {
  font-size: 10px;
  line-height: 100%;

  @media (max-width: $mobile-size) {
    font-size: 8px;
  }
}

body {
  color: #6c7279;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.container {
  margin: 0 auto;
  width: 1170px;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.row:after {
  clear: both;
  content:"";
  display: block;
}

.col-2 {
  float: left;
  width: 50%;

  @media (max-width: 1020px) {
    width: 100%;
  }
}

.col-3 {
  float: left;
  width: 33.33%;

  @media (max-width: $mobile-size) {
    width: 100%;
  }
}

.col-4 {
  float: left;
  width: 25%;

  @media (max-width: $mobile-size) {
    width: 70%;
  }
}

section {
  padding-top: 5rem;
}
