.contacts {
  background-color: #3a3e64;
  padding-bottom: 83px;
  padding-top: 68px;
  text-align: center;

  &-header {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &-description {
    color: #7c7e98;
  }

}
