.developer {
  background: #3b3e65;
  color: #fff;
  padding-bottom: 10rem;
  padding-top: 5rem;

  h2 {
    color: #fff
  }
}

.developer-name {
  color: #fff;
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-bottom: .5rem;
  margin-top: 2.5rem;
}

.developer-profession {
  color: #e84545;
  font-size: 1.3rem;
  line-height: 2.3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.developer-photo {
  width: 100%;
}

.developer .col-4 {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.icons {
  margin-right: 14rem;
  margin-top: 2.5rem;
}
