/*features style*/

.sprite {
  height: 6rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.features {
  margin-top: 12rem;
  margin-bottom: 5rem;
  text-align: center;
}

.icon {
  margin-bottom: 7rem;
  position: relative;
}

.feature-description {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.features h3 {
  margin-top: 9.5rem;
}
