.sprite {
  background-repeat: no-repeat;
  height: 60px;
  left: 50%;
  position: absolute;
  top: 0%;
  transform: translateX(-50%);
}

.features {
  margin-bottom: 5rem;
  margin-top: 12rem;
  text-align: center;
}

.icon {
  margin-bottom: 7rem;
  position: relative;
}

.feature-description {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.features h3 {
  margin-top: 9.5rem;
}
