.main-header {
  background: rgba(0,0,0,.3);
  height: 10rem;
  line-height: 10rem;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navigation a {
  color: white;
  float: right;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 5.9rem;
  text-transform: uppercase;

  &:first-child {
    margin-right: 2rem;
  }

  @media (max-width: $mobile-size) {
    margin-left: 1.5rem;
  }
}

.heading {
  background-image: url(../img/header.jpg);
  background-size: cover;
  color: white;
  height: 100vh;
  min-height: 640px;
  padding-top: 25.5rem;
  text-align: center;
}

.logo {
  width: 62rem;

  @media (max-width: $mobile-size) {
    width: 90%;
  }
}

