/*header styles*/

.main-header {
  height: 10rem;
  background: rgba(0,0,0,.3);
  line-height: 10rem;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.navigation a {
  color: white;
  margin-left: 5.9rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
}

.heading {
  background-image: url(../img/11111.jpg);
  background-size: cover;
  padding-top: 25.5rem;
  text-align: center;
  height: 100vh;
  color: white;
  min-height: 640px;
}

.logo {
  width: 62rem;
}

///

.find-button,
.download-button {
  font-weight:600;
  color: #f7e5e5;
  border: none;
  line-height: 21px;
  font-size: 12px;
  text-transform: uppercase;
  background: #e84545;
  padding-top:12px;
  padding-bottom:12px;
  cursor: pointer;
  transition: all .2s ease-out 0s;

}

.find-button {
  margin-top: 75px;
  padding-left: 55px;
  padding-right: 45px;
}

.download-button {
  padding-left: 85px;
  padding-right: 85px;
}

