

/*works styles*/
.works-block .flexslider {
  display: none;
}
.work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8, .project-name-block{
  background-size: cover;
  height: 350px;
}
.work1 {
  background-image: url(../img/work1.png);
}
.work2 {
  background-image: url(../img/work2.png);
}
.work4 {
  background-image: url(../img/work4.png);
}
.work5 {
  background-image: url(../img/work5.png);
}
.work6 {
  background-image: url(../img/work6.png);
}
.work7 {
  background-image: url(../img/work7.png);
}
.work8 {
  background-image: url(../img/work8.png);
}
.work1:hover .project-name-block,
.work2:hover .project-name-block,
.work4:hover .project-name-block,
.work5:hover .project-name-block,
.work6:hover .project-name-block,
.work7:hover .project-name-block,
.work8:hover .project-name-block {
  background:rgba(208,52,58,0.7);
  padding-top: 155px;
  text-align: center;
  color:white;
}
.project-name-block {
  color:rgba(255,255,255,0);
}
.project-name {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}



/*testmonials*/

.testmonials-row {
  height: 500px;
}

.testmonials-image-container {
  height: 100%;
  width: 50%;
  float: left;
  background-size: cover;
  background-image: url('../trash/testmonials.png');
  background-position: center;
}

.slider-box {
  width: 50%;
  height: 500px;
  background-color: #53354a;
  position: relative;
}




@media all and (max-width: 640px){
  .container{
    width: 90%;
  }
  .col-3,
  .col-4 {
    float: none;
    width: 100%;
  }
  .right {
    float: none;
  }
  .navigation a{
    margin-left:10px;
  }
  .navigation a:nth-child(4) {
    display: none;
  }
  .navigation {
    display: none;
  }
  .main-header {
    height: 60px;
  }
  .logo-link {
    margin-top: 0px;
  }
  .our-team-block {
    text-align: center;
    margin-top: 605px;
  }
  .our-team-block .col-4 {
    margin-bottom: 20px;
  }
  .testmonials-img,
  .testmonials-image-container {
    display: none;
  }
  .slider-box {
    width: 100%;
  }
  .flexslider {
    width: 80%;
  }

  .testmonials-row .flexslider {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
  .contacts-block .col-3 {
    margin-bottom: 20px;
  }
  .works-block .row {
    display: none;
  }
  .works-block {
    position: relative;
  }
  .works-block .flexslider {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .top-section {
    padding-top: 90px;
    min-height: 640px;
  }
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .header-description {
    margin-left: 0px;
    margin-right: 0px;
  }

  .padding-right {
    padding-right: 0px;
  }
  .download-block {
    padding: 100px 20px;
  }
}

@media all and (min-width: 640px) and (max-width: 1169px) {
  .download-block {
    padding: 100px 20px;
  }
  .top-section {
    padding-top: 120px;
  }
  h1 {
    font-size: 44px;
    line-height: 50px;
  }

  .container{
    width: 90%;
  }

  .col-4 {
   width: 50%;
   float: left;
  }

  .navigation a{
    margin-left:10px;
  }
  .navigation a:nth-child(4) {
    display: none;
  }

  .our-team-block {
    text-align: center;
  }
  .our-team-block .col-4 {
    margin-bottom: 20px;
  }
  .testmonials-img,
  .testmonials-image-container {
    display: none;
  }
  .slider-box {
    width: 100%;
  }
  .testmonials-row .flexslider {
    height: 100%;
  }
  .contacts-block .col-3 {
    margin-bottom: 20px;
  }

}
