.manual {
  background: #3b3e65;

  h2 {
    color: #fff;
  }

  img {
    width: 90%;
  }
}

.manual-item {
  color: #fff;
  margin-bottom: 12rem;
  text-align: center;
}

.manual-name {
  color: #e84545;
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-bottom: .5rem;
  margin-top: 2.5rem;
}
