.play {
  padding-bottom: 10rem;
  padding-top: 10rem;
  text-align: center;
}

.play-header {
  color: #000;
  font-size: 2.8rem;
  line-height: 3.8rem;
}

.play-description {
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2.1rem;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.play-link {
  background-color: #e84545;
  color: #fff;
  display: inline-block;
  padding: 1rem 6rem;
  position: relative;
  text-transform: uppercase;
  transition: all .2s ease-out 0s;
  word-spacing: nowrap;
}

.play-link:hover {
  background-color: #b62222;
  text-decoration: none;
  transition: all .2s ease-out 0s;
}

.icon-block {
  display: inline-block;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
}
