@import url(https://fonts.googleapis.com/css?family=Cardo:400italic|Open+Sans:700|Raleway:700,300,400);
@import url(resetcss.css);
@import url(fontello.css);
@import url(flexslider.css);
@import url(sprite.css);
*,
*:before,
*:after {
  box-sizing: border-box; }

/*base*/
html {
  font-size: 10px;
  line-height: 100%; }
  @media (max-width: 690px) {
    html {
      font-size: 8px; } }

body {
  color: #6c7279;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 21px; }

.container {
  margin: 0 auto;
  width: 1170px; }
  @media (max-width: 1200px) {
    .container {
      width: 100%; } }

.row:after {
  clear: both;
  content: "";
  display: block; }

.col-2 {
  float: left;
  width: 50%; }
  @media (max-width: 1020px) {
    .col-2 {
      width: 100%; } }

.col-3 {
  float: left;
  width: 33.33%; }
  @media (max-width: 690px) {
    .col-3 {
      width: 100%; } }

.col-4 {
  float: left;
  width: 25%; }
  @media (max-width: 690px) {
    .col-4 {
      width: 70%; } }

section {
  padding-top: 5rem; }

a {
  color: #e84545;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

b,
strong {
  font-weight: 600; }

i,
em {
  font-style: italic; }

ul li {
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6.5rem;
  line-height: 7.1rem;
  margin-bottom: .5rem; }

h2,
h3 {
  color: black;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2rem;
  font-weight: 700;
  margin-top: 3rem;
  text-align: center; }

h2 {
  line-height: 6rem;
  font-size: 3rem;
  margin-bottom: 8rem; }

h3 {
  line-height: 1.8rem;
  font-size: 1.4rem; }

/*icons*/
.contact-icons,
.worker-icons {
  display: inline-block;
  font-size: 17px;
  height: 40px;
  width: 40px;
  padding-top: 10px;
  color: white;
  border: white solid 2px;
  margin-right: 5px;
  text-align: center; }

.contact-icons:hover,
.worker-icons:hover {
  background-color: #2fd1e0;
  color: white;
  cursor: pointer; }

.worker-icons {
  color: #b3b4b9;
  border: #b3b4b9 solid 1px;
  margin-top: 25px; }

.contacts {
  background-color: #3a3e64;
  padding-bottom: 83px;
  padding-top: 68px;
  text-align: center; }
  .contacts-header {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .contacts-description {
    color: #7c7e98; }

.main-header {
  background: rgba(0, 0, 0, 0.3);
  height: 10rem;
  line-height: 10rem;
  position: fixed;
  width: 100%;
  z-index: 5; }

.navigation a {
  color: white;
  float: right;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 5.9rem;
  text-transform: uppercase; }
  .navigation a:first-child {
    margin-right: 2rem; }
  @media (max-width: 690px) {
    .navigation a {
      margin-left: 1.5rem; } }

.heading {
  background-image: url(../img/header.jpg);
  background-size: cover;
  color: white;
  height: 100vh;
  min-height: 640px;
  padding-top: 25.5rem;
  text-align: center; }

.logo {
  width: 62rem; }
  @media (max-width: 690px) {
    .logo {
      width: 90%; } }

.footer {
  background: #313454;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center; }

.site-author {
  color: white; }

.play {
  padding-bottom: 10rem;
  padding-top: 10rem;
  text-align: center; }

.play-header {
  color: #000;
  font-size: 2.8rem;
  line-height: 3.8rem; }

.play-description {
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2.1rem;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  text-transform: uppercase; }

.play-link {
  background-color: #e84545;
  color: #fff;
  display: inline-block;
  padding: 1rem 6rem;
  position: relative;
  text-transform: uppercase;
  transition: all .2s ease-out 0s;
  word-spacing: nowrap; }

.play-link:hover {
  background-color: #b62222;
  text-decoration: none;
  transition: all .2s ease-out 0s; }

.icon-block {
  display: inline-block;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal; }

.sprite {
  background-repeat: no-repeat;
  height: 60px;
  left: 50%;
  position: absolute;
  top: 0%;
  transform: translateX(-50%); }

.features {
  margin-bottom: 5rem;
  margin-top: 12rem;
  text-align: center; }

.icon {
  margin-bottom: 7rem;
  position: relative; }

.feature-description {
  margin-left: 4.5rem;
  margin-right: 4.5rem; }

.features h3 {
  margin-top: 9.5rem; }

.developer {
  background: #3b3e65;
  color: #fff;
  padding-bottom: 10rem;
  padding-top: 5rem; }
  .developer h2 {
    color: #fff; }

.developer-name {
  color: #fff;
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-bottom: .5rem;
  margin-top: 2.5rem; }

.developer-profession {
  color: #e84545;
  font-size: 1.3rem;
  line-height: 2.3rem;
  margin-bottom: 2rem;
  text-transform: uppercase; }

.developer-photo {
  width: 100%; }

.developer .col-4 {
  float: none;
  margin: 0 auto;
  text-align: center; }

.icons {
  margin-right: 14rem;
  margin-top: 2.5rem; }

.manual {
  background: #3b3e65; }
  .manual h2 {
    color: #fff; }
  .manual img {
    width: 90%; }

.manual-item {
  color: #fff;
  margin-bottom: 12rem;
  text-align: center; }

.manual-name {
  color: #e84545;
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-bottom: .5rem;
  margin-top: 2.5rem; }

.flex-direction-nav {
  display: none; }

.flex-control-thumbs {
  height: 145px; }

.flex-control-nav li:last-child {
  display: none; }

/*# sourceMappingURL=style.css.map */
