@import url(https://fonts.googleapis.com/css?family=Cardo:400italic|Open+Sans:700|Raleway:700,300,400);
@import url(resetcss.css);
@import url(fontello.css);
@import url(flexslider.css);
@import url(sprite.css);
*,
*:before,
*:after {
  box-sizing: border-box; }

/*base*/
html {
  font-size: 10px;
  line-height: 100%; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  line-height: 21px; }

.container {
  width: 1170px;
  margin: 0 auto; }

.row:after {
  content: "";
  clear: both;
  display: block; }

.col-2 {
  width: 50%;
  float: left; }

.col-3 {
  width: 33.33%;
  float: left; }

.col-4 {
  width: 25%;
  float: left; }

/*typografy*/
a {
  color: #e84545;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

b,
strong {
  font-weight: 600; }

i,
em {
  font-style: italic; }

ul li {
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6.5rem;
  line-height: 7.1rem;
  margin-bottom: .5rem; }

h2,
h3 {
  color: black;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2rem;
  font-weight: 700;
  margin-top: 3rem;
  text-align: center; }

h2 {
  line-height: 6rem;
  font-size: 3rem;
  margin-bottom: 8rem; }

h3 {
  line-height: 1.8rem;
  font-size: 1.4rem; }

/*icons*/
.contact-icons,
.worker-icons {
  display: inline-block;
  font-size: 17px;
  height: 40px;
  width: 40px;
  padding-top: 10px;
  color: white;
  border: white solid 2px;
  margin-right: 5px;
  text-align: center; }

.contact-icons:hover,
.worker-icons:hover {
  background-color: #2fd1e0;
  color: white;
  cursor: pointer; }

.worker-icons {
  color: #b3b4b9;
  border: #b3b4b9 solid 1px;
  margin-top: 25px; }

/*contacts styles*/
.contacts {
  background-color: #3a3e64;
  text-align: center;
  padding-top: 68px;
  padding-bottom: 83px; }
  .contacts-header {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .contacts-description {
    color: #7c7e98; }

/*header styles*/
.main-header {
  height: 10rem;
  background: rgba(0, 0, 0, 0.3);
  line-height: 10rem;
  position: fixed;
  z-index: 5;
  width: 100%; }

.navigation a {
  color: white;
  margin-left: 5.9rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  float: right; }

.heading {
  background-image: url(../img/11111.jpg);
  background-size: cover;
  padding-top: 25.5rem;
  text-align: center;
  height: 100vh;
  color: white;
  min-height: 640px; }

.logo {
  width: 62rem; }

.find-button,
.download-button {
  font-weight: 600;
  color: #f7e5e5;
  border: none;
  line-height: 21px;
  font-size: 12px;
  text-transform: uppercase;
  background: #e84545;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  transition: all .2s ease-out 0s; }

.find-button {
  margin-top: 75px;
  padding-left: 55px;
  padding-right: 45px; }

.download-button {
  padding-left: 85px;
  padding-right: 85px; }

/*footer styles*/
.footer {
  background: #313454;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px; }

.site-author {
  color: white; }

/*play styles*/
.play {
  padding-bottom: 10rem;
  padding-top: 10rem;
  text-align: center; }

.play-header {
  font-size: 2.8rem;
  line-height: 3.8rem;
  color: #000; }

.play-description {
  font-size: 1.3rem;
  line-height: 2.1rem;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 3.5rem; }

.play-link {
  position: relative;
  word-spacing: nowrap;
  transition: all .2s ease-out 0s;
  display: inline-block;
  color: #fff;
  background-color: #e84545;
  padding: 1rem 6rem;
  text-transform: uppercase; }

.play-link:hover {
  background-color: #b62222;
  transition: all .2s ease-out 0s;
  text-decoration: none; }

.icon-block {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  display: inline-block; }

/*features style*/
.sprite {
  height: 6rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%); }

.features {
  margin-top: 12rem;
  margin-bottom: 5rem;
  text-align: center; }

.icon {
  margin-bottom: 7rem;
  position: relative; }

.feature-description {
  margin-left: 4.5rem;
  margin-right: 4.5rem; }

.features h3 {
  margin-top: 9.5rem; }

/*team styles*/
.developer {
  padding-top: 5rem;
  padding-bottom: 10rem; }

.developer-name {
  margin-top: 2.5rem;
  margin-bottom: .5rem;
  font-size: 2.2rem;
  line-height: 3.2rem;
  color: #000; }

.developer-profession {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  color: #e84545; }

.developer-photo {
  width: 100%; }

.developer .col-4 {
  margin: 0 auto;
  text-align: center;
  float: none; }

.icons {
  margin-top: 2.5rem;
  margin-right: 14rem; }

/*# sourceMappingURL=style.css.map */
